.offer {
    position: relative;
}

.price-img {
    position: absolute;
    left: 0px;
    top: -3.5px;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.form-signin {
    width: 50%;
    /*max-width: 400px;*/
    /*width: 430px;*/
    padding: 15px;
    margin: 70px auto 70px auto;
}

.form-reset {
    width: 50%;
    /*max-width: 400px;*/
    /*width: 430px;*/
    padding: 15px;
    margin: 110px auto 110px auto;
}

.form-signin .form-control .form-reset {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


.flex-caption {
    background: tomato;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1em;
}

.table {
    width: 100%;
    margin-bottom: 0rem;
    color: #212529;
}

/*.card-columns {*/
/*    column-count: auto;*/
/*}*/

/*.card-columns {*/
/*@include media-breakpoint-only(lg) {*/
/*    column-count: 4;*/
/*}*/
/*@include media-breakpoint-only(xl) {*/
/*    column-count: 5;*/
/*}*/
/*}*/

.form-control-values-car {
    display: block;
    width: 65px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.img-sm {
    width: 150px;
    max-height: 100px;
    object-fit: cover;
}

#sidebar-wrapper {

    min-height: 100vh;
}


@media screen and (max-width: 770px) {
    .card-img-top {
        height: 15vw;
    }

    .form-signin {
        width: 90%;
    }
}

@media screen and (max-width: 570px) {
    .card-img-top {
        height: 45vw;
    }

}

/*@media (max-width: 1200px) {*/
/*    .card-columns {*/
/*        column-count: 4;*/
/*    }*/

/*}*/


/*@media (min-width: 576px) {*/
/*    .card-columns {*/
/*        column-count: 2;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .card-columns {*/
/*        column-count: 3;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .card-columns {*/
/*        column-count: 3;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .card-columns {*/
/*        column-count: 3;*/
/*    }*/
/*}*/

/*@media (min-width: 1800px) {*/
/*    .card-columns {*/
/*        column-count: 5;*/
/*    }*/
/*}*/

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 76em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    /*.card-img-top {*/
    /*    height: 7vw;*/
    /*}*/
}